<div ng-app='gta' ng-controller='SubmissionListCtrl'>
  <div class="modwrap" ng-repeat="submission in submissions">
    <div class="modthumbnailwrap">
      <img class="modthumbnail" src="resources/thumbnail.jpg" />
    </div>
    <div class="modinfowrap">
      <div class="modtitle">{{ submission.name }}</div>
      <div class="modcreator">{{ submission.creator.username }}</div>
      <div class="moddescription"> This vehicle is great for all for all types of offroading across the many GTA mountains that are in the game.
      </div>
    </div>
  </div>
</div>