<h1>Mods-GTA API Documentation</h1>
<p>Mods-GTA provides a simple REST based API to allow developers to communicate with our website, for use in external applications.</p>
<p>Abusing this API will result in a temporary or permenant ban from using the API.</p>
<p>Any API requests that require authentication will be done so via an API key, which can be generated below. Each user can have up to 5 API keys active at once, per API version.</p>
<ul>
	<li>There should be a difference of at least <b>two</b> seconds between each API request. Failing to do so may cause your IP or API key to be rate limited or banned.</li>
	<li>All requests should be made with a user-agent that is relevant to your application, and one that will allow our staff to easily track down your application if necessary.</li>
	<li>Malicious applications will have API access revoked immediately, and will likely not receive access again.</li>
</ul>
<h2>Submissions</h2>

<h2>Comments</h2>

<h2>Uploads</h2>

<h2>Images</h2>

<h2>Users</h2>

<h2>Videos</h2>

<h2>Blog Posts</h2>