$('<%= j render("shared/submissions", submissions: @submissions) %>').appendTo($('.homepage_recent_mods_wrap'));
<% if @submissions.last_page? %>
$('<p id="scroll-done">All Content Loaded!</p>').appendTo($('.homepage_recent_mods_wrap'));
<% end %>
