<div class="profile_mod_categories_wrap">
    <ul>
        <li><a href="">Tools</a></li>
        <li><a href="">Maps</a></li>
        <li><a href="">Vehicles</a></li>
        <li><a href="">Texures</a></li>
        <li><a href="">Script</a></li>
        <li><a href="">Misc</a></li>
        <li><a href="">Weapons</a></li>
        <li><a href="">Player</a></li>
    </ul>
</div>
<%= render 'shared/submissions', submissions: @user.submissions %>