<div class="profile_mod_categories_wrap">
    <ul>
        <% CATEGORIES.each do |k, v| %>
        <li><%= link_to k.capitalize, params.merge({:category => k.downcase}) %></li>
        <% end %>
    </ul>
</div>
<%= render 'shared/submissions', submissions: @user.submissions.where(:category => params[:category]) %>