         <div class="sidebar sidebar_right">
            <div class="filteringbox">
                <div class="searchwrap">
                    <input type="text" name="search" class="search" placeholder="Search" />
                    <img src="<%= image_path('searchbutton.png') %>" class="searchbutton accentcolor" />
                </div>	
                <div class="sortby_box_wrap">

                    <div class="sortbyoptiontitle">Time</div>
                    <div class="sortby_options_wrap">
                        <div class="sortbyoption">
                            <div class="sortby_circle sortby_circle_active accentborder"></div>
                            Today
                        </div>
                        <div class="sortbyoption">
                            <div class="sortby_circle accentborder accentcolor"></div>
                            Last Week
                        </div>
                        <div class="sortbyoption">
                            <div class="sortby_circle accentborder"></div>
                            Forever
                        </div>
                    </div>
                    
                    <div class="sortbyoptiontitle">Popularity</div>
                    <div class="sortby_options_wrap">
                        <div class="sortbyoption">
                            <div class="sortby_circle sortby_circle_active accentborder"></div>
                            Newest First
                        </div>
                        <div class="sortbyoption">
                            <div class="sortby_circle accentborder accentcolor"></div>
                            Most Popular
                        </div>
                        <div class="sortbyoption">
                            <div class="sortby_circle accentborder"></div>
                            Recently Updated
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="website_footer">
    <div class="pagination_wrap">
        <a href="" class="pagination_prev_button"><div class="pagination_link">Prev</div></a>
        <div class="pagination_numbers_wrap">
            <a href="" class="pagenumber"><div class="pagination_link">1</div></a>a>
            <a href="" class="pagenumber activepagenumber"><div class="pagination_link">2</div></a>
            <a href="" class="pagenumber"><div class="pagination_link">3</div></a>
            <a href="" class="pagenumber"><div class="pagination_link" >4</div></a>
            <a href="" class="pagenumber"><div class="pagination_link">5</div></a>
            <a href="" class="pagenumber"><div class="pagination_link">6</div></a>
            <a href="" class="pagenumber"><div class="pagination_link">...</div></a>
            <a href="" class="pagenumber"><div class="pagination_link">18</div></a>
        </div>
        <a href="" class="pagination_next_button"><div class="pagination_link">Next</div></a>
    </div>
</div>
<div class="bottom_footer_bar">
    <div class="footer_bar_text"><span class="footer_bar_website_name">Mods-GTAV:</span> Home &bull; Contact &bull; About</div>
</div>